server:
  port: 8082
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/quiz?useSSL=false&useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
  cloud:
    nacos:
      discovery:
        server-addr: ${SPRING_CLOUD_NACOS_DISCOVERY_SERVER_ADDR:}
        enabled: ${SPRING_CLOUD_NACOS_DISCOVERY_ENABLED:true}
        namespace: dev
        group: dev
        register-enabled: true
        ephemeral: true
        heart-beat-interval: 5000
        heart-beat-timeout: 15000
      config:
        enabled: ${SPRING_CLOUD_NACOS_CONFIG_ENABLED:false}
        import-check:
          enabled: false
  jackson:
    default-property-inclusion: non_null
mybatis:
  mapper-locations: classpath*:mapper/*.xml
  type-aliases-package: com.djy.quiz.pojo.model
  configuration:
    map-underscore-to-camel-case: true
jwt:
  secret: "ajogjsofjscmolusojclskmsdlgoujoiafjmsldkcmdsgjioawejhnklasdclksdghasjklfnslkdfnmlkdscjsdkohganksldmnssldkcmnsdghnasdkjfmnsdklcmsdklhgjkladmclksmnjksdngmcgnfaksljfmndsklchndsjknfga"
  expireMinutes: 24800
cors:
  allow-origins: "*"
  allow-methods: "GET,POST,PUT,DELETE,OPTIONS"
  allow-headers: "Content-Type,Authorization"
  allow-credentials: false
